@font-face {
  font-family: 'social';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/social.eot?84141987");
  src: url("fonts/social.eot?84141987#iefix") format("embedded-opentype"), url("fonts/social.woff?84141987") format("woff"), url("fonts/social.ttf?84141987") format("truetype"), url("fonts/social.svg?84141987#social") format("svg"); }

@-webkit-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@-moz-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@-ms-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@-o-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

h1, h2, h3, h4, h5, ol, ul, dd, dt, dl, li, blockquote {
  margin: 0;
  padding: 0;
  list-style: none; }

.hidden {
  display: none; }

body {
  font-family: 'Libre Caslon Text', serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin: 0;
  word-wrap: break-word;
  color: #4b5866;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9) 2em, rgba(255, 255, 255, 0.9) 37.5em, rgba(255, 255, 255, 0.8) 45em), url("images/seamless_paper_texture.png");
  -webkit-font-smoothing: antialiased;
  font-display: optional;
  text-rendering: optimizeLegibility;
  font-variant-caps: normal; }
  @media only screen and (max-width: 380px) {
    body {
      font-size: 14px;
      color: black; } }
  @media only screen and (min-width: 381px) and (max-width: 45em) {
    body {
      font-size: 16px;
      color: black; } }

a {
  text-decoration: none;
  color: #4779ae; }
  a:hover {
    text-decoration: underline;
    color: #7eb5e5; }

header {
  position: sticky;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  padding-right: 1.5em;
  border-bottom: solid 1px #dddddd;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95) 2.25em, rgba(255, 255, 255, 0.95) 37.5em, rgba(255, 255, 255, 0.7) 45em); }
  @media only screen and (max-width: 380px) {
    header {
      padding-right: 1em; } }
  @media only screen and (min-width: 381px) and (max-width: 45em) {
    header {
      padding-right: 1.25em; } }
  header a.social {
    font-family: 'social';
    font-size: 1.33em;
    line-height: 2.33em;
    float: right;
    user-select: none; }
    @media only screen and (max-width: 380px) {
      header a.social {
        font-size: 1.25em;
        line-height: 2.46em; } }
    @media only screen and (min-width: 381px) and (max-width: 45em) {
      header a.social {
        font-size: 1.25em;
        line-height: 2.46em; } }
    header a.social span {
      display: none; }
    header a.social:hover {
      color: #7eb5e5; }

#documentation {
  width: 37.5em;
  max-width: 100%;
  padding-bottom: 4em; }
