

@media (max-width: 684px) {
	body {
		font-size: 1.53rem; } }

@media (max-width: 382px) {
	body {
		font-size: 1.35rem; } }



html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}
h1, h2, h3 {
	font-family: 'quatro-slab', serif;
	font-size: 28px;
		font-weight: 700;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    word-spacing: -.20px;
    text-transform: none;
}

h2
{
	font-size: 26px;
}

h3
{
	font-size: 24px;
}

h4, h5, h6{
	font-family: 'quatro-slab', serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 15px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h4, h5, h6
{
	font-size: 20px;
}

p {
		font-family: 'quatro-slab', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
}
blockquote
{
	margin-left: 10px;
		p
		{
			font-family: "Rock Salt", handwriting;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.60;
			opacity: .80;
			margin-top: -10px;
			margin-bottom: 40px;
			letter-spacing: 0.40px;
			word-spacing: 1.00px;
			text-transform: none;
			transform: rotate(-.5deg);

			&::before
			{
				content: "— ";
			}
		}

}

	html {
		 background-image: url("images/dotgrid.jpg");
	}

	body {
		font-size: 18px;
		line-height: 1.618;

		color: #4a4a4a;
		font-family: 'quatro-slab', serif;
		font-weight: 400;
	}

	nav
	{
		// display: block;
		// position: absolute;
		// left: 0;
		// width: 200px;
		// top: 0;
		// bottom: 0;

		// overflow-x: hidden;
		// overflow-y: hidden;

		a
		{
			display:inline-block;
			text-decoration: none;
			font-size: 18px;
			padding: 5px;
		//	text-align: right;
		}

		margin-bottom: 15px;
	}

main
{
	// position: absolute;
	// top: 0;
	// bottom: 0;
	// left: 200px;
	// right: 0;
	// display:block;
	// overflow-x: hidden;
	// overflow-y: scroll;
	// scroll-behavior: smooth;

	section
	{
		max-width: 38em;
	}
}