@font-face {
  font-family: 'social';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/social.eot?84141987");
  src: url("fonts/social.eot?84141987#iefix") format("embedded-opentype"), url("fonts/social.woff?84141987") format("woff"), url("fonts/social.ttf?84141987") format("truetype"), url("fonts/social.svg?84141987#social") format("svg"); }

@-webkit-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@-moz-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@-ms-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@-o-keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

@keyframes wave {
  0% {
    filter: brightness(100%) hue-rotate(0deg); }
  90% {
    filter: brightness(100%) hue-rotate(0deg);
    animation-timing-function: ease-in-out; }
  100% {
    filter: brightness(150%) hue-rotate(180deg); } }

h1, h2, h3, h4, h5, ol, ul, dd, dt, dl, li, blockquote {
  margin: 0;
  padding: 0;
  list-style: none; }

.hidden {
  display: none; }

body {
  font-family: 'Libre Caslon Text', serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  display: block;
  margin: 0;
  color: #4b5866;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-display: optional;
  text-rendering: optimizeLegibility;
  font-variant-caps: normal; }

a {
  text-decoration: none;
  color: #4779ae; }
  a:hover {
    text-decoration: underline;
    color: #7eb5e5; }

label {
  font-size: 1em;
  line-height: 3em;
  display: inline-block;
  margin: 0 .5em;
  cursor: pointer;
  user-select: none;
  background: white; }

label[for=whatsnewnav] {
  position: fixed;
  top: 1em;
  left: 1em; }

label[for=documentationnav] {
  position: fixed;
  top: 1em;
  left: 8em; }

#whatsnew,
#documentation {
  display: none;
  margin-left: 1em;
  margin-right: 1em;
  background: white;
  position: absolute;
  top: 5em;
  bottom: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth; }
  #whatsnew header,
  #documentation header {
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    background-color: white; }
    #whatsnew header a,
    #documentation header a {
      display: block; }
  #whatsnew h2, #whatsnew h3, #whatsnew h4, #whatsnew h5,
  #documentation h2,
  #documentation h3,
  #documentation h4,
  #documentation h5 {
    margin-top: 2em; }
  #whatsnew h2::before,
  #documentation h2::before {
    display: block;
    content: " ";
    margin-top: -7em;
    height: 7em;
    visibility: hidden;
    pointer-events: none; }

input {
  display: none; }

input#whatsnewnav:checked ~ section#whatsnew {
  display: block; }

input#documentationnav:checked ~ section#documentation {
  display: block; }
